PatchTST_supervised/dataset/*
PatchTST_supervised/checkpoints/*
PatchTST_supervised/results/*
PatchTST_supervised/test_results/*
all_six_datasets/*
our_align_data.lm.V06.pickle/*
*/temp/*
*/saved_models/*
es_data/*


*.pyc
*.log
*.csv
*.pkl
*.cfg
*.zip
*.png
*.html
*.xlsx
result.txt
final_result.txt